@page "/clinics"
@using Clinics.Contracts
@using Grpc.Net.Client
@using Microsoft.AspNetCore.Authorization
@using static Clinics.Contracts.GetClinicsResponse.Types
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration
@inject ClinicsClient ClinicsClient

@attribute [Authorize]

<PageTitle>Clinics</PageTitle>

<AuthorizeView>
    Hello @context.User.Identity?.Name!

    @if (_clinics == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="col-lg-12 control-section">
            <div class="content-wrapper">
                <div class="row">
                    <SfGrid DataSource="@Dups" AllowPaging="true">
                        @* <GridEditSettings AllowAdding="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings> *@
                         <GridEvents TValue="Dupa" OnActionBegin="ActionBegin"></GridEvents>
                        <GridColumns>
                            @* <GridColumn Field="Id" HeaderText="Id" IsPrimaryKey="true" Visible="false"></GridColumn>
                            <GridColumn Field="Name" HeaderText="Name" Width="120"></GridColumn>
                            <GridColumn Field="City" HeaderText="City" Width="150"></GridColumn>
                            <GridColumn Field="Street" HeaderText="Street" Width="130"></GridColumn>
                            <GridColumn Field="StreetNumber" HeaderText="StreetNumber" Width="120"></GridColumn> *@
                            <GridColumn Field="Qwe" HeaderText="StreetNumber" Width="120" IsPrimaryKey="true"></GridColumn>

                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    }
</AuthorizeView>

@code {
    private ClinicDto[]? _clinics;
    private Dupa[] Dups;

    private Task<ClinicDto[]> GetClinicsAsync() => ClinicsClient.GetClinicsAsync(CancellationToken.None);

    protected override async Task OnInitializedAsync()
    {
        if (_clinics == null)
            _clinics = await GetClinicsAsync();

            Dups = [new Dupa{Qwe="asd"}];
    }

    private void ActionBegin(ActionEventArgs<Dupa> arg)
    {

    }

    private class Dupa
    {
        public string Qwe{ get; set; }
    }
}
