@inherits LayoutComponentBase

<div class="container-fluid px-0">
    <div class="row gx-0">
        <div class="col">
            <NavMenu />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row gx-0">
        <div class="col">
            <main>
                <article class="content">
                    @Body
                </article>
            </main>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
